.photo-grid__item {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .photo-grid__item {
    max-width: 288px;
    max-height: 1812px;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}
