.place__button {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: #0063d2;
  position: relative;
  text-align: center;
}

.place__button:hover {
  background-color: #0052a1;
  transform: scale(1);
  transition: background-color 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .place__button {
    font-weight: 700;
    padding: 1rem 1.2rem;
    margin-left: 24px;
  }
}
