.lead__image {
  max-width: 984px;
  max-height: 615px;
  background: #000;
  margin-top: 65px;
  margin-bottom: 93px;
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 768px;
    max-height: 480px;
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
    max-height: 200px;
    margin-bottom: 40px;
  }
}
