.lead__title {
  max-width: 793px;
  max-height: 200px;
  margin-top: 194px;
  color: #fff;
  text-align: center;
  font-size: 105px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  margin: auto;
}
