.cover {
  position: relative;
  display: flex;
  height: 740px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 105px;
  gap: 32px;
  background-image: url(../../images/campo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 0;
}
.cover:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}
